html {
  background-color: antiquewhite;
}

.contentContainer {
  display: block;
}

.searchContainer {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(207, 207, 207);
}

.dogResults {
  padding: 5rem 0;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
}
.showList img {
  object-fit: cover;
}